<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Result</title>
</headf>
<body>
    <%- include('header') %>
    <h1>Student Report Card</h1>

    <p> Name : <%= student[0].name %> </p>
    <p> Grade : <%= student[0].grade%> </p>
    <p> Favorite Subject : <%= student[0].favoriteSubject%> </p>

    <ul>
        <% student.map((stud) => { %>
            <li>
                <p> Name : <%= stud.name %> </p>
                <p> Grade : <%= stud.grade%> </p>
                <p> Favorite Subject : <%= stud.favoriteSubject%> </p>
            </li>
        <% }) %>
    </ul>
</body>
</html>